<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
	</head>
	<body>
		<h2>All the users</h2>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{user['name']}}</td>
						<td>{{user['email']}}</td>
						<td>
							<a href="/users/show/{{user['id']}}">Show</a>
							<a href = "/users/edit/{{user['id']}}">Edit</a>
							<a href ="/users/delete/{{user['id']}}">Delete</a>
						</td>
					</tr>
				{% endfor %}
			<tbody>
		</table>
		<a href = "/users/new">Add New User</a>
	</body>
</html>